#stars {
  padding: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px lightgrey, 324px 42px lightgrey,
    303px 586px lightgrey, 1312px 276px lightgrey, 451px 625px lightgrey,
    521px 1931px lightgrey, 1087px 1871px lightgrey, 36px 1546px lightgrey,
    132px 934px lightgrey, 1698px 901px lightgrey, 1418px 664px lightgrey,
    1448px 1157px lightgrey, 1084px 232px lightgrey, 347px 1776px lightgrey,
    1722px 243px lightgrey, 1629px 835px lightgrey, 479px 969px lightgrey,
    1231px 960px lightgrey, 586px 384px lightgrey, 164px 527px lightgrey,
    8px 646px lightgrey, 1150px 1126px lightgrey, 665px 1357px lightgrey,
    1556px 1982px lightgrey, 1260px 1961px lightgrey, 1675px 1741px lightgrey,
    1843px 1514px lightgrey, 718px 1628px lightgrey, 242px 1343px lightgrey,
    1497px 1880px lightgrey, 1364px 230px lightgrey, 1739px 1302px lightgrey,
    636px 959px lightgrey, 304px 686px lightgrey, 614px 751px lightgrey,
    1935px 816px lightgrey, 1428px 60px lightgrey, 355px 335px lightgrey,
    1594px 158px lightgrey, 90px 60px lightgrey, 1553px 162px lightgrey,
    1239px 1825px lightgrey, 1945px 587px lightgrey, 749px 1785px lightgrey,
    1987px 1172px lightgrey, 1301px 1237px lightgrey, 1039px 342px lightgrey,
    1585px 1481px lightgrey, 995px 1048px lightgrey, 524px 932px lightgrey,
    214px 413px lightgrey, 1701px 1300px lightgrey, 1037px 1613px lightgrey,
    1871px 996px lightgrey, 1360px 1635px lightgrey, 1110px 1313px lightgrey,
    412px 1783px lightgrey, 1949px 177px lightgrey, 903px 1854px lightgrey,
    700px 1936px lightgrey, 378px 125px lightgrey, 308px 834px lightgrey,
    1118px 962px lightgrey, 1350px 1929px lightgrey, 781px 1811px lightgrey,
    561px 137px lightgrey, 757px 1148px lightgrey, 1670px 1979px lightgrey,
    343px 739px lightgrey, 945px 795px lightgrey, 576px 1903px lightgrey,
    1078px 1436px lightgrey, 1583px 450px lightgrey, 1366px 474px lightgrey,
    297px 1873px lightgrey, 192px 162px lightgrey, 1624px 1633px lightgrey,
    59px 453px lightgrey, 82px 1872px lightgrey, 1933px 498px lightgrey,
    1966px 1974px lightgrey, 1975px 1688px lightgrey, 779px 314px lightgrey,
    1858px 1543px lightgrey, 73px 1507px lightgrey, 1693px 975px lightgrey,
    1683px 108px lightgrey, 1768px 1654px lightgrey, 654px 14px lightgrey,
    494px 171px lightgrey, 1689px 1895px lightgrey, 1660px 263px lightgrey,
    1031px 903px lightgrey, 1203px 1393px lightgrey, 1333px 1421px lightgrey,
    1113px 41px lightgrey, 1206px 1645px lightgrey, 1325px 1635px lightgrey,
    142px 388px lightgrey, 572px 215px lightgrey, 1535px 296px lightgrey,
    1419px 407px lightgrey, 1379px 1003px lightgrey, 329px 469px lightgrey,
    1791px 1652px lightgrey, 935px 1802px lightgrey, 1330px 1820px lightgrey,
    421px 1933px lightgrey, 828px 365px lightgrey, 275px 316px lightgrey,
    707px 960px lightgrey, 1605px 1554px lightgrey, 625px 58px lightgrey,
    717px 1697px lightgrey, 1669px 246px lightgrey, 1925px 322px lightgrey,
    1154px 1803px lightgrey, 1929px 295px lightgrey, 1248px 240px lightgrey,
    1045px 1755px lightgrey, 166px 942px lightgrey, 1888px 1773px lightgrey,
    678px 1963px lightgrey, 1370px 569px lightgrey, 1974px 1400px lightgrey,
    1786px 460px lightgrey, 51px 307px lightgrey, 784px 1400px lightgrey,
    730px 1258px lightgrey, 1712px 393px lightgrey, 416px 170px lightgrey,
    1797px 1932px lightgrey, 572px 219px lightgrey, 1557px 1856px lightgrey,
    218px 8px lightgrey, 348px 1334px lightgrey, 469px 413px lightgrey,
    385px 1738px lightgrey, 1357px 1818px lightgrey, 240px 942px lightgrey,
    248px 1847px lightgrey, 1535px 806px lightgrey, 236px 1514px lightgrey,
    1429px 1556px lightgrey, 73px 1633px lightgrey, 1398px 1121px lightgrey,
    671px 1301px lightgrey, 1404px 1663px lightgrey, 740px 1018px lightgrey,
    1600px 377px lightgrey, 785px 514px lightgrey, 112px 1084px lightgrey,
    1915px 1887px lightgrey, 1463px 1848px lightgrey, 687px 1115px lightgrey,
    1268px 1768px lightgrey, 1729px 1425px lightgrey, 1284px 1022px lightgrey,
    801px 974px lightgrey, 1975px 1317px lightgrey, 1354px 834px lightgrey,
    1446px 1484px lightgrey, 1283px 1786px lightgrey, 11px 523px lightgrey,
    1842px 236px lightgrey, 1355px 654px lightgrey, 429px 7px lightgrey,
    1033px 1128px lightgrey, 157px 297px lightgrey, 545px 635px lightgrey,
    52px 1080px lightgrey, 827px 1520px lightgrey, 1121px 490px lightgrey,
    9px 309px lightgrey, 1744px 1586px lightgrey, 1014px 417px lightgrey,
    1534px 524px lightgrey, 958px 552px lightgrey, 1403px 1496px lightgrey,
    387px 703px lightgrey, 1522px 548px lightgrey, 1355px 282px lightgrey,
    1532px 601px lightgrey, 1838px 790px lightgrey, 290px 259px lightgrey,
    295px 598px lightgrey, 1601px 539px lightgrey, 1561px 1272px lightgrey,
    34px 1922px lightgrey, 1024px 543px lightgrey, 467px 369px lightgrey,
    722px 333px lightgrey, 1976px 1255px lightgrey, 766px 983px lightgrey,
    1582px 1285px lightgrey, 12px 512px lightgrey, 617px 1410px lightgrey,
    682px 577px lightgrey, 1334px 1438px lightgrey, 439px 327px lightgrey,
    1617px 1661px lightgrey, 673px 129px lightgrey, 794px 941px lightgrey,
    1386px 1902px lightgrey, 37px 1353px lightgrey, 1467px 1353px lightgrey,
    416px 18px lightgrey, 187px 344px lightgrey, 200px 1898px lightgrey,
    1491px 1619px lightgrey, 811px 347px lightgrey, 924px 1827px lightgrey,
    945px 217px lightgrey, 1735px 1228px lightgrey, 379px 1890px lightgrey,
    79px 761px lightgrey, 825px 1837px lightgrey, 1980px 1558px lightgrey,
    1308px 1573px lightgrey, 1488px 1726px lightgrey, 382px 1208px lightgrey,
    522px 595px lightgrey, 1277px 1898px lightgrey, 354px 552px lightgrey,
    161px 1784px lightgrey, 614px 251px lightgrey, 526px 1576px lightgrey,
    17px 212px lightgrey, 179px 996px lightgrey, 467px 1208px lightgrey,
    1944px 1838px lightgrey, 1140px 1093px lightgrey, 858px 1007px lightgrey,
    200px 1064px lightgrey, 423px 1964px lightgrey, 1945px 439px lightgrey,
    1377px 689px lightgrey, 1120px 1437px lightgrey, 1876px 668px lightgrey,
    907px 1324px lightgrey, 343px 1976px lightgrey, 1816px 1501px lightgrey,
    1849px 177px lightgrey, 647px 91px lightgrey, 1984px 1012px lightgrey,
    1336px 1300px lightgrey, 128px 648px lightgrey, 305px 1060px lightgrey,
    1324px 826px lightgrey, 1263px 1314px lightgrey, 1801px 629px lightgrey,
    1614px 1555px lightgrey, 1634px 90px lightgrey, 1603px 452px lightgrey,
    891px 1984px lightgrey, 1556px 1906px lightgrey, 121px 68px lightgrey,
    1676px 1714px lightgrey, 516px 936px lightgrey, 1947px 1492px lightgrey,
    1455px 1519px lightgrey, 45px 602px lightgrey, 205px 1039px lightgrey,
    793px 172px lightgrey, 1562px 1739px lightgrey, 1056px 110px lightgrey,
    1512px 379px lightgrey, 1795px 1621px lightgrey, 1848px 607px lightgrey,
    262px 1719px lightgrey, 477px 991px lightgrey, 483px 883px lightgrey,
    1239px 1197px lightgrey, 1496px 647px lightgrey, 1649px 25px lightgrey,
    1491px 1946px lightgrey, 119px 996px lightgrey, 179px 1472px lightgrey,
    1341px 808px lightgrey, 1565px 1700px lightgrey, 407px 1544px lightgrey,
    1754px 357px lightgrey, 1288px 981px lightgrey, 902px 1997px lightgrey,
    1755px 1668px lightgrey, 186px 877px lightgrey, 1202px 1882px lightgrey,
    461px 1213px lightgrey, 1400px 748px lightgrey, 1969px 1899px lightgrey,
    809px 522px lightgrey, 514px 1219px lightgrey, 374px 275px lightgrey,
    938px 1973px lightgrey, 357px 552px lightgrey, 144px 1722px lightgrey,
    1572px 912px lightgrey, 402px 1858px lightgrey, 1544px 1195px lightgrey,
    667px 1257px lightgrey, 727px 1496px lightgrey, 993px 232px lightgrey,
    1772px 313px lightgrey, 1040px 1590px lightgrey, 1204px 1973px lightgrey,
    1268px 79px lightgrey, 1555px 1048px lightgrey, 986px 1707px lightgrey,
    978px 1710px lightgrey, 713px 360px lightgrey, 407px 863px lightgrey,
    461px 736px lightgrey, 284px 1608px lightgrey, 103px 430px lightgrey,
    1283px 1319px lightgrey, 977px 1186px lightgrey, 1966px 1516px lightgrey,
    1287px 1129px lightgrey, 70px 1098px lightgrey, 1189px 889px lightgrey,
    1126px 1734px lightgrey, 309px 1292px lightgrey, 879px 764px lightgrey,
    65px 473px lightgrey, 1003px 1959px lightgrey, 658px 791px lightgrey,
    402px 1576px lightgrey, 35px 622px lightgrey, 529px 1589px lightgrey,
    164px 666px lightgrey, 1876px 1290px lightgrey, 1541px 526px lightgrey,
    270px 1297px lightgrey, 440px 865px lightgrey, 1500px 802px lightgrey,
    182px 1754px lightgrey, 1264px 892px lightgrey, 272px 1249px lightgrey,
    1289px 1535px lightgrey, 190px 1646px lightgrey, 955px 242px lightgrey,
    1456px 1597px lightgrey, 1727px 1983px lightgrey, 635px 801px lightgrey,
    226px 455px lightgrey, 1396px 1710px lightgrey, 849px 1863px lightgrey,
    237px 1264px lightgrey, 839px 140px lightgrey, 1122px 735px lightgrey,
    1280px 15px lightgrey, 1318px 242px lightgrey, 1819px 1148px lightgrey,
    333px 1392px lightgrey, 1949px 553px lightgrey, 1878px 1332px lightgrey,
    467px 548px lightgrey, 1812px 1082px lightgrey, 1067px 193px lightgrey,
    243px 156px lightgrey, 483px 1616px lightgrey, 1714px 933px lightgrey,
    759px 1800px lightgrey, 1822px 995px lightgrey, 1877px 572px lightgrey,
    581px 1084px lightgrey, 107px 732px lightgrey, 642px 1837px lightgrey,
    166px 1493px lightgrey, 1555px 198px lightgrey, 819px 307px lightgrey,
    947px 345px lightgrey, 827px 224px lightgrey, 927px 1394px lightgrey,
    540px 467px lightgrey, 1093px 405px lightgrey, 1140px 927px lightgrey,
    130px 529px lightgrey, 33px 1980px lightgrey, 1147px 1663px lightgrey,
    1616px 1436px lightgrey, 528px 710px lightgrey, 798px 1100px lightgrey,
    505px 1480px lightgrey, 899px 641px lightgrey, 1909px 1949px lightgrey,
    1311px 964px lightgrey, 979px 1301px lightgrey, 1393px 969px lightgrey,
    1793px 1886px lightgrey, 292px 357px lightgrey, 1196px 1718px lightgrey,
    1290px 1994px lightgrey, 537px 1973px lightgrey, 1181px 1674px lightgrey,
    1740px 1566px lightgrey, 1307px 265px lightgrey, 922px 522px lightgrey,
    1892px 472px lightgrey, 384px 1746px lightgrey, 392px 1098px lightgrey,
    647px 548px lightgrey, 390px 1498px lightgrey, 1246px 138px lightgrey,
    730px 876px lightgrey, 192px 1472px lightgrey, 1790px 1789px lightgrey,
    928px 311px lightgrey, 1253px 1647px lightgrey, 747px 1921px lightgrey,
    1561px 1025px lightgrey, 1533px 1292px lightgrey, 1985px 195px lightgrey,
    728px 729px lightgrey, 1712px 1936px lightgrey, 512px 1717px lightgrey,
    1528px 483px lightgrey, 313px 1642px lightgrey, 281px 1849px lightgrey,
    1212px 799px lightgrey, 435px 1191px lightgrey, 1422px 611px lightgrey,
    1718px 1964px lightgrey, 411px 944px lightgrey, 210px 636px lightgrey,
    1502px 1295px lightgrey, 1434px 349px lightgrey, 769px 60px lightgrey,
    747px 1053px lightgrey, 789px 504px lightgrey, 1436px 1264px lightgrey,
    1893px 1225px lightgrey, 1394px 1788px lightgrey, 1108px 1317px lightgrey,
    1673px 1395px lightgrey, 854px 1010px lightgrey, 1705px 80px lightgrey,
    1858px 148px lightgrey, 1729px 344px lightgrey, 1388px 664px lightgrey,
    895px 406px lightgrey, 1479px 157px lightgrey, 1441px 1157px lightgrey,
    552px 1900px lightgrey, 516px 364px lightgrey, 1647px 189px lightgrey,
    1427px 1071px lightgrey, 785px 729px lightgrey, 1080px 1710px lightgrey,
    504px 204px lightgrey, 1177px 1622px lightgrey, 657px 34px lightgrey,
    1296px 1099px lightgrey, 248px 180px lightgrey, 1212px 1568px lightgrey,
    667px 1562px lightgrey, 695px 841px lightgrey, 1608px 1247px lightgrey,
    751px 882px lightgrey, 87px 167px lightgrey, 607px 1368px lightgrey,
    1363px 1203px lightgrey, 1836px 317px lightgrey, 1668px 1703px lightgrey,
    830px 1154px lightgrey, 1721px 1398px lightgrey, 1601px 1280px lightgrey,
    976px 874px lightgrey, 1743px 254px lightgrey, 1020px 1815px lightgrey,
    1670px 1766px lightgrey, 1890px 735px lightgrey, 1379px 136px lightgrey,
    1864px 695px lightgrey, 206px 965px lightgrey, 1404px 1932px lightgrey,
    1923px 1360px lightgrey, 247px 682px lightgrey, 519px 1708px lightgrey,
    645px 750px lightgrey, 1164px 1204px lightgrey, 834px 323px lightgrey,
    172px 1350px lightgrey, 213px 972px lightgrey, 1837px 190px lightgrey,
    285px 1806px lightgrey, 1047px 1299px lightgrey, 1548px 825px lightgrey,
    1730px 324px lightgrey, 1346px 1909px lightgrey, 772px 270px lightgrey,
    345px 1190px lightgrey, 478px 1433px lightgrey, 1479px 25px lightgrey,
    1994px 1830px lightgrey, 1744px 732px lightgrey, 20px 1635px lightgrey,
    690px 1795px lightgrey, 1594px 569px lightgrey, 579px 245px lightgrey,
    1398px 733px lightgrey, 408px 1352px lightgrey, 1774px 120px lightgrey,
    1152px 1370px lightgrey, 1698px 1810px lightgrey, 710px 1450px lightgrey,
    665px 286px lightgrey, 493px 1720px lightgrey, 786px 5px lightgrey,
    637px 1140px lightgrey, 764px 324px lightgrey, 927px 310px lightgrey,
    938px 1424px lightgrey, 1884px 744px lightgrey, 913px 462px lightgrey,
    1831px 1936px lightgrey, 1527px 249px lightgrey, 36px 1381px lightgrey,
    1597px 581px lightgrey, 1530px 355px lightgrey, 949px 459px lightgrey,
    799px 828px lightgrey, 242px 1471px lightgrey, 654px 797px lightgrey,
    796px 594px lightgrey, 1365px 678px lightgrey, 752px 23px lightgrey,
    1630px 541px lightgrey, 982px 72px lightgrey, 1733px 1831px lightgrey,
    21px 412px lightgrey, 775px 998px lightgrey, 335px 1945px lightgrey,
    264px 583px lightgrey, 158px 1311px lightgrey, 528px 164px lightgrey,
    1978px 574px lightgrey, 717px 1203px lightgrey, 734px 1591px lightgrey,
    1555px 820px lightgrey, 16px 1943px lightgrey, 1625px 1177px lightgrey,
    1236px 690px lightgrey, 1585px 1590px lightgrey, 1737px 1728px lightgrey,
    721px 698px lightgrey, 1804px 1186px lightgrey, 166px 980px lightgrey,
    1850px 230px lightgrey, 330px 1712px lightgrey, 95px 797px lightgrey,
    1948px 1078px lightgrey, 469px 939px lightgrey, 1269px 1899px lightgrey,
    955px 1220px lightgrey, 1137px 1075px lightgrey, 312px 1293px lightgrey,
    986px 1762px lightgrey, 1103px 1238px lightgrey, 428px 1993px lightgrey,
    355px 570px lightgrey, 977px 1836px lightgrey, 1395px 1092px lightgrey,
    276px 913px lightgrey, 1743px 656px lightgrey, 773px 502px lightgrey,
    1686px 1322px lightgrey, 1516px 1945px lightgrey, 1334px 501px lightgrey,
    266px 156px lightgrey, 455px 655px lightgrey, 798px 72px lightgrey,
    1059px 1259px lightgrey, 1402px 1687px lightgrey, 236px 1329px lightgrey,
    1455px 786px lightgrey, 146px 1228px lightgrey, 1851px 823px lightgrey,
    1062px 100px lightgrey, 1220px 953px lightgrey, 20px 1826px lightgrey,
    36px 1063px lightgrey, 1525px 338px lightgrey, 790px 1521px lightgrey,
    741px 1099px lightgrey, 288px 1489px lightgrey, 700px 1060px lightgrey,
    390px 1071px lightgrey, 411px 1036px lightgrey, 1853px 1072px lightgrey,
    1446px 1085px lightgrey, 1164px 874px lightgrey, 924px 925px lightgrey,
    291px 271px lightgrey, 1257px 1964px lightgrey, 1580px 1352px lightgrey,
    1507px 1216px lightgrey, 211px 956px lightgrey, 985px 1195px lightgrey,
    975px 1640px lightgrey, 518px 101px lightgrey, 663px 1395px lightgrey,
    914px 532px lightgrey, 145px 1320px lightgrey, 69px 1397px lightgrey,
    982px 523px lightgrey, 257px 725px lightgrey, 1599px 831px lightgrey,
    1636px 1513px lightgrey, 1250px 1158px lightgrey, 1132px 604px lightgrey,
    183px 102px lightgrey, 1057px 318px lightgrey, 1247px 1835px lightgrey,
    1983px 1110px lightgrey, 1077px 1455px lightgrey, 921px 1770px lightgrey,
    806px 1350px lightgrey, 1938px 1992px lightgrey, 855px 1260px lightgrey,
    902px 1345px lightgrey, 658px 1908px lightgrey, 1845px 679px lightgrey,
    712px 1482px lightgrey, 595px 950px lightgrey, 1784px 1992px lightgrey,
    1847px 1785px lightgrey, 691px 1004px lightgrey, 175px 1179px lightgrey,
    1666px 1911px lightgrey, 41px 61px lightgrey, 971px 1080px lightgrey,
    1830px 1450px lightgrey, 1351px 1518px lightgrey, 1257px 99px lightgrey,
    1395px 1498px lightgrey, 1117px 252px lightgrey, 1779px 597px lightgrey,
    1346px 729px lightgrey, 1108px 1144px lightgrey, 402px 691px lightgrey,
    72px 496px lightgrey, 1673px 1604px lightgrey, 1497px 974px lightgrey,
    1865px 1664px lightgrey, 88px 806px lightgrey, 918px 77px lightgrey,
    244px 1118px lightgrey, 256px 1820px lightgrey, 1851px 1840px lightgrey,
    605px 1851px lightgrey, 634px 383px lightgrey, 865px 37px lightgrey,
    943px 1024px lightgrey, 1951px 177px lightgrey, 1097px 523px lightgrey,
    985px 1700px lightgrey, 1243px 122px lightgrey, 768px 1070px lightgrey,
    468px 194px lightgrey, 320px 1867px lightgrey, 1850px 185px lightgrey,
    380px 1616px lightgrey, 468px 1294px lightgrey, 1122px 1743px lightgrey,
    884px 299px lightgrey, 1300px 1917px lightgrey, 1860px 396px lightgrey,
    1270px 990px lightgrey, 529px 733px lightgrey, 1975px 1347px lightgrey,
    1885px 685px lightgrey, 226px 506px lightgrey, 651px 878px lightgrey,
    1323px 680px lightgrey, 1284px 680px lightgrey, 238px 1967px lightgrey,
    911px 174px lightgrey, 1111px 521px lightgrey, 1150px 85px lightgrey,
    794px 502px lightgrey, 484px 1856px lightgrey, 1809px 368px lightgrey,
    112px 953px lightgrey, 590px 1009px lightgrey, 1655px 311px lightgrey,
    100px 1026px lightgrey, 1803px 352px lightgrey, 865px 306px lightgrey,
    1077px 1019px lightgrey, 1335px 872px lightgrey, 1647px 1298px lightgrey,
    1233px 1387px lightgrey, 698px 1036px lightgrey, 659px 1860px lightgrey,
    388px 1412px lightgrey, 1212px 458px lightgrey, 755px 1468px lightgrey,
    696px 1654px lightgrey, 1144px 60px lightgrey;
}

#stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px lightgrey, 324px 42px lightgrey,
    303px 586px lightgrey, 1312px 276px lightgrey, 451px 625px lightgrey,
    521px 1931px lightgrey, 1087px 1871px lightgrey, 36px 1546px lightgrey,
    132px 934px lightgrey, 1698px 901px lightgrey, 1418px 664px lightgrey,
    1448px 1157px lightgrey, 1084px 232px lightgrey, 347px 1776px lightgrey,
    1722px 243px lightgrey, 1629px 835px lightgrey, 479px 969px lightgrey,
    1231px 960px lightgrey, 586px 384px lightgrey, 164px 527px lightgrey,
    8px 646px lightgrey, 1150px 1126px lightgrey, 665px 1357px lightgrey,
    1556px 1982px lightgrey, 1260px 1961px lightgrey, 1675px 1741px lightgrey,
    1843px 1514px lightgrey, 718px 1628px lightgrey, 242px 1343px lightgrey,
    1497px 1880px lightgrey, 1364px 230px lightgrey, 1739px 1302px lightgrey,
    636px 959px lightgrey, 304px 686px lightgrey, 614px 751px lightgrey,
    1935px 816px lightgrey, 1428px 60px lightgrey, 355px 335px lightgrey,
    1594px 158px lightgrey, 90px 60px lightgrey, 1553px 162px lightgrey,
    1239px 1825px lightgrey, 1945px 587px lightgrey, 749px 1785px lightgrey,
    1987px 1172px lightgrey, 1301px 1237px lightgrey, 1039px 342px lightgrey,
    1585px 1481px lightgrey, 995px 1048px lightgrey, 524px 932px lightgrey,
    214px 413px lightgrey, 1701px 1300px lightgrey, 1037px 1613px lightgrey,
    1871px 996px lightgrey, 1360px 1635px lightgrey, 1110px 1313px lightgrey,
    412px 1783px lightgrey, 1949px 177px lightgrey, 903px 1854px lightgrey,
    700px 1936px lightgrey, 378px 125px lightgrey, 308px 834px lightgrey,
    1118px 962px lightgrey, 1350px 1929px lightgrey, 781px 1811px lightgrey,
    561px 137px lightgrey, 757px 1148px lightgrey, 1670px 1979px lightgrey,
    343px 739px lightgrey, 945px 795px lightgrey, 576px 1903px lightgrey,
    1078px 1436px lightgrey, 1583px 450px lightgrey, 1366px 474px lightgrey,
    297px 1873px lightgrey, 192px 162px lightgrey, 1624px 1633px lightgrey,
    59px 453px lightgrey, 82px 1872px lightgrey, 1933px 498px lightgrey,
    1966px 1974px lightgrey, 1975px 1688px lightgrey, 779px 314px lightgrey,
    1858px 1543px lightgrey, 73px 1507px lightgrey, 1693px 975px lightgrey,
    1683px 108px lightgrey, 1768px 1654px lightgrey, 654px 14px lightgrey,
    494px 171px lightgrey, 1689px 1895px lightgrey, 1660px 263px lightgrey,
    1031px 903px lightgrey, 1203px 1393px lightgrey, 1333px 1421px lightgrey,
    1113px 41px lightgrey, 1206px 1645px lightgrey, 1325px 1635px lightgrey,
    142px 388px lightgrey, 572px 215px lightgrey, 1535px 296px lightgrey,
    1419px 407px lightgrey, 1379px 1003px lightgrey, 329px 469px lightgrey,
    1791px 1652px lightgrey, 935px 1802px lightgrey, 1330px 1820px lightgrey,
    421px 1933px lightgrey, 828px 365px lightgrey, 275px 316px lightgrey,
    707px 960px lightgrey, 1605px 1554px lightgrey, 625px 58px lightgrey,
    717px 1697px lightgrey, 1669px 246px lightgrey, 1925px 322px lightgrey,
    1154px 1803px lightgrey, 1929px 295px lightgrey, 1248px 240px lightgrey,
    1045px 1755px lightgrey, 166px 942px lightgrey, 1888px 1773px lightgrey,
    678px 1963px lightgrey, 1370px 569px lightgrey, 1974px 1400px lightgrey,
    1786px 460px lightgrey, 51px 307px lightgrey, 784px 1400px lightgrey,
    730px 1258px lightgrey, 1712px 393px lightgrey, 416px 170px lightgrey,
    1797px 1932px lightgrey, 572px 219px lightgrey, 1557px 1856px lightgrey,
    218px 8px lightgrey, 348px 1334px lightgrey, 469px 413px lightgrey,
    385px 1738px lightgrey, 1357px 1818px lightgrey, 240px 942px lightgrey,
    248px 1847px lightgrey, 1535px 806px lightgrey, 236px 1514px lightgrey,
    1429px 1556px lightgrey, 73px 1633px lightgrey, 1398px 1121px lightgrey,
    671px 1301px lightgrey, 1404px 1663px lightgrey, 740px 1018px lightgrey,
    1600px 377px lightgrey, 785px 514px lightgrey, 112px 1084px lightgrey,
    1915px 1887px lightgrey, 1463px 1848px lightgrey, 687px 1115px lightgrey,
    1268px 1768px lightgrey, 1729px 1425px lightgrey, 1284px 1022px lightgrey,
    801px 974px lightgrey, 1975px 1317px lightgrey, 1354px 834px lightgrey,
    1446px 1484px lightgrey, 1283px 1786px lightgrey, 11px 523px lightgrey,
    1842px 236px lightgrey, 1355px 654px lightgrey, 429px 7px lightgrey,
    1033px 1128px lightgrey, 157px 297px lightgrey, 545px 635px lightgrey,
    52px 1080px lightgrey, 827px 1520px lightgrey, 1121px 490px lightgrey,
    9px 309px lightgrey, 1744px 1586px lightgrey, 1014px 417px lightgrey,
    1534px 524px lightgrey, 958px 552px lightgrey, 1403px 1496px lightgrey,
    387px 703px lightgrey, 1522px 548px lightgrey, 1355px 282px lightgrey,
    1532px 601px lightgrey, 1838px 790px lightgrey, 290px 259px lightgrey,
    295px 598px lightgrey, 1601px 539px lightgrey, 1561px 1272px lightgrey,
    34px 1922px lightgrey, 1024px 543px lightgrey, 467px 369px lightgrey,
    722px 333px lightgrey, 1976px 1255px lightgrey, 766px 983px lightgrey,
    1582px 1285px lightgrey, 12px 512px lightgrey, 617px 1410px lightgrey,
    682px 577px lightgrey, 1334px 1438px lightgrey, 439px 327px lightgrey,
    1617px 1661px lightgrey, 673px 129px lightgrey, 794px 941px lightgrey,
    1386px 1902px lightgrey, 37px 1353px lightgrey, 1467px 1353px lightgrey,
    416px 18px lightgrey, 187px 344px lightgrey, 200px 1898px lightgrey,
    1491px 1619px lightgrey, 811px 347px lightgrey, 924px 1827px lightgrey,
    945px 217px lightgrey, 1735px 1228px lightgrey, 379px 1890px lightgrey,
    79px 761px lightgrey, 825px 1837px lightgrey, 1980px 1558px lightgrey,
    1308px 1573px lightgrey, 1488px 1726px lightgrey, 382px 1208px lightgrey,
    522px 595px lightgrey, 1277px 1898px lightgrey, 354px 552px lightgrey,
    161px 1784px lightgrey, 614px 251px lightgrey, 526px 1576px lightgrey,
    17px 212px lightgrey, 179px 996px lightgrey, 467px 1208px lightgrey,
    1944px 1838px lightgrey, 1140px 1093px lightgrey, 858px 1007px lightgrey,
    200px 1064px lightgrey, 423px 1964px lightgrey, 1945px 439px lightgrey,
    1377px 689px lightgrey, 1120px 1437px lightgrey, 1876px 668px lightgrey,
    907px 1324px lightgrey, 343px 1976px lightgrey, 1816px 1501px lightgrey,
    1849px 177px lightgrey, 647px 91px lightgrey, 1984px 1012px lightgrey,
    1336px 1300px lightgrey, 128px 648px lightgrey, 305px 1060px lightgrey,
    1324px 826px lightgrey, 1263px 1314px lightgrey, 1801px 629px lightgrey,
    1614px 1555px lightgrey, 1634px 90px lightgrey, 1603px 452px lightgrey,
    891px 1984px lightgrey, 1556px 1906px lightgrey, 121px 68px lightgrey,
    1676px 1714px lightgrey, 516px 936px lightgrey, 1947px 1492px lightgrey,
    1455px 1519px lightgrey, 45px 602px lightgrey, 205px 1039px lightgrey,
    793px 172px lightgrey, 1562px 1739px lightgrey, 1056px 110px lightgrey,
    1512px 379px lightgrey, 1795px 1621px lightgrey, 1848px 607px lightgrey,
    262px 1719px lightgrey, 477px 991px lightgrey, 483px 883px lightgrey,
    1239px 1197px lightgrey, 1496px 647px lightgrey, 1649px 25px lightgrey,
    1491px 1946px lightgrey, 119px 996px lightgrey, 179px 1472px lightgrey,
    1341px 808px lightgrey, 1565px 1700px lightgrey, 407px 1544px lightgrey,
    1754px 357px lightgrey, 1288px 981px lightgrey, 902px 1997px lightgrey,
    1755px 1668px lightgrey, 186px 877px lightgrey, 1202px 1882px lightgrey,
    461px 1213px lightgrey, 1400px 748px lightgrey, 1969px 1899px lightgrey,
    809px 522px lightgrey, 514px 1219px lightgrey, 374px 275px lightgrey,
    938px 1973px lightgrey, 357px 552px lightgrey, 144px 1722px lightgrey,
    1572px 912px lightgrey, 402px 1858px lightgrey, 1544px 1195px lightgrey,
    667px 1257px lightgrey, 727px 1496px lightgrey, 993px 232px lightgrey,
    1772px 313px lightgrey, 1040px 1590px lightgrey, 1204px 1973px lightgrey,
    1268px 79px lightgrey, 1555px 1048px lightgrey, 986px 1707px lightgrey,
    978px 1710px lightgrey, 713px 360px lightgrey, 407px 863px lightgrey,
    461px 736px lightgrey, 284px 1608px lightgrey, 103px 430px lightgrey,
    1283px 1319px lightgrey, 977px 1186px lightgrey, 1966px 1516px lightgrey,
    1287px 1129px lightgrey, 70px 1098px lightgrey, 1189px 889px lightgrey,
    1126px 1734px lightgrey, 309px 1292px lightgrey, 879px 764px lightgrey,
    65px 473px lightgrey, 1003px 1959px lightgrey, 658px 791px lightgrey,
    402px 1576px lightgrey, 35px 622px lightgrey, 529px 1589px lightgrey,
    164px 666px lightgrey, 1876px 1290px lightgrey, 1541px 526px lightgrey,
    270px 1297px lightgrey, 440px 865px lightgrey, 1500px 802px lightgrey,
    182px 1754px lightgrey, 1264px 892px lightgrey, 272px 1249px lightgrey,
    1289px 1535px lightgrey, 190px 1646px lightgrey, 955px 242px lightgrey,
    1456px 1597px lightgrey, 1727px 1983px lightgrey, 635px 801px lightgrey,
    226px 455px lightgrey, 1396px 1710px lightgrey, 849px 1863px lightgrey,
    237px 1264px lightgrey, 839px 140px lightgrey, 1122px 735px lightgrey,
    1280px 15px lightgrey, 1318px 242px lightgrey, 1819px 1148px lightgrey,
    333px 1392px lightgrey, 1949px 553px lightgrey, 1878px 1332px lightgrey,
    467px 548px lightgrey, 1812px 1082px lightgrey, 1067px 193px lightgrey,
    243px 156px lightgrey, 483px 1616px lightgrey, 1714px 933px lightgrey,
    759px 1800px lightgrey, 1822px 995px lightgrey, 1877px 572px lightgrey,
    581px 1084px lightgrey, 107px 732px lightgrey, 642px 1837px lightgrey,
    166px 1493px lightgrey, 1555px 198px lightgrey, 819px 307px lightgrey,
    947px 345px lightgrey, 827px 224px lightgrey, 927px 1394px lightgrey,
    540px 467px lightgrey, 1093px 405px lightgrey, 1140px 927px lightgrey,
    130px 529px lightgrey, 33px 1980px lightgrey, 1147px 1663px lightgrey,
    1616px 1436px lightgrey, 528px 710px lightgrey, 798px 1100px lightgrey,
    505px 1480px lightgrey, 899px 641px lightgrey, 1909px 1949px lightgrey,
    1311px 964px lightgrey, 979px 1301px lightgrey, 1393px 969px lightgrey,
    1793px 1886px lightgrey, 292px 357px lightgrey, 1196px 1718px lightgrey,
    1290px 1994px lightgrey, 537px 1973px lightgrey, 1181px 1674px lightgrey,
    1740px 1566px lightgrey, 1307px 265px lightgrey, 922px 522px lightgrey,
    1892px 472px lightgrey, 384px 1746px lightgrey, 392px 1098px lightgrey,
    647px 548px lightgrey, 390px 1498px lightgrey, 1246px 138px lightgrey,
    730px 876px lightgrey, 192px 1472px lightgrey, 1790px 1789px lightgrey,
    928px 311px lightgrey, 1253px 1647px lightgrey, 747px 1921px lightgrey,
    1561px 1025px lightgrey, 1533px 1292px lightgrey, 1985px 195px lightgrey,
    728px 729px lightgrey, 1712px 1936px lightgrey, 512px 1717px lightgrey,
    1528px 483px lightgrey, 313px 1642px lightgrey, 281px 1849px lightgrey,
    1212px 799px lightgrey, 435px 1191px lightgrey, 1422px 611px lightgrey,
    1718px 1964px lightgrey, 411px 944px lightgrey, 210px 636px lightgrey,
    1502px 1295px lightgrey, 1434px 349px lightgrey, 769px 60px lightgrey,
    747px 1053px lightgrey, 789px 504px lightgrey, 1436px 1264px lightgrey,
    1893px 1225px lightgrey, 1394px 1788px lightgrey, 1108px 1317px lightgrey,
    1673px 1395px lightgrey, 854px 1010px lightgrey, 1705px 80px lightgrey,
    1858px 148px lightgrey, 1729px 344px lightgrey, 1388px 664px lightgrey,
    895px 406px lightgrey, 1479px 157px lightgrey, 1441px 1157px lightgrey,
    552px 1900px lightgrey, 516px 364px lightgrey, 1647px 189px lightgrey,
    1427px 1071px lightgrey, 785px 729px lightgrey, 1080px 1710px lightgrey,
    504px 204px lightgrey, 1177px 1622px lightgrey, 657px 34px lightgrey,
    1296px 1099px lightgrey, 248px 180px lightgrey, 1212px 1568px lightgrey,
    667px 1562px lightgrey, 695px 841px lightgrey, 1608px 1247px lightgrey,
    751px 882px lightgrey, 87px 167px lightgrey, 607px 1368px lightgrey,
    1363px 1203px lightgrey, 1836px 317px lightgrey, 1668px 1703px lightgrey,
    830px 1154px lightgrey, 1721px 1398px lightgrey, 1601px 1280px lightgrey,
    976px 874px lightgrey, 1743px 254px lightgrey, 1020px 1815px lightgrey,
    1670px 1766px lightgrey, 1890px 735px lightgrey, 1379px 136px lightgrey,
    1864px 695px lightgrey, 206px 965px lightgrey, 1404px 1932px lightgrey,
    1923px 1360px lightgrey, 247px 682px lightgrey, 519px 1708px lightgrey,
    645px 750px lightgrey, 1164px 1204px lightgrey, 834px 323px lightgrey,
    172px 1350px lightgrey, 213px 972px lightgrey, 1837px 190px lightgrey,
    285px 1806px lightgrey, 1047px 1299px lightgrey, 1548px 825px lightgrey,
    1730px 324px lightgrey, 1346px 1909px lightgrey, 772px 270px lightgrey,
    345px 1190px lightgrey, 478px 1433px lightgrey, 1479px 25px lightgrey,
    1994px 1830px lightgrey, 1744px 732px lightgrey, 20px 1635px lightgrey,
    690px 1795px lightgrey, 1594px 569px lightgrey, 579px 245px lightgrey,
    1398px 733px lightgrey, 408px 1352px lightgrey, 1774px 120px lightgrey,
    1152px 1370px lightgrey, 1698px 1810px lightgrey, 710px 1450px lightgrey,
    665px 286px lightgrey, 493px 1720px lightgrey, 786px 5px lightgrey,
    637px 1140px lightgrey, 764px 324px lightgrey, 927px 310px lightgrey,
    938px 1424px lightgrey, 1884px 744px lightgrey, 913px 462px lightgrey,
    1831px 1936px lightgrey, 1527px 249px lightgrey, 36px 1381px lightgrey,
    1597px 581px lightgrey, 1530px 355px lightgrey, 949px 459px lightgrey,
    799px 828px lightgrey, 242px 1471px lightgrey, 654px 797px lightgrey,
    796px 594px lightgrey, 1365px 678px lightgrey, 752px 23px lightgrey,
    1630px 541px lightgrey, 982px 72px lightgrey, 1733px 1831px lightgrey,
    21px 412px lightgrey, 775px 998px lightgrey, 335px 1945px lightgrey,
    264px 583px lightgrey, 158px 1311px lightgrey, 528px 164px lightgrey,
    1978px 574px lightgrey, 717px 1203px lightgrey, 734px 1591px lightgrey,
    1555px 820px lightgrey, 16px 1943px lightgrey, 1625px 1177px lightgrey,
    1236px 690px lightgrey, 1585px 1590px lightgrey, 1737px 1728px lightgrey,
    721px 698px lightgrey, 1804px 1186px lightgrey, 166px 980px lightgrey,
    1850px 230px lightgrey, 330px 1712px lightgrey, 95px 797px lightgrey,
    1948px 1078px lightgrey, 469px 939px lightgrey, 1269px 1899px lightgrey,
    955px 1220px lightgrey, 1137px 1075px lightgrey, 312px 1293px lightgrey,
    986px 1762px lightgrey, 1103px 1238px lightgrey, 428px 1993px lightgrey,
    355px 570px lightgrey, 977px 1836px lightgrey, 1395px 1092px lightgrey,
    276px 913px lightgrey, 1743px 656px lightgrey, 773px 502px lightgrey,
    1686px 1322px lightgrey, 1516px 1945px lightgrey, 1334px 501px lightgrey,
    266px 156px lightgrey, 455px 655px lightgrey, 798px 72px lightgrey,
    1059px 1259px lightgrey, 1402px 1687px lightgrey, 236px 1329px lightgrey,
    1455px 786px lightgrey, 146px 1228px lightgrey, 1851px 823px lightgrey,
    1062px 100px lightgrey, 1220px 953px lightgrey, 20px 1826px lightgrey,
    36px 1063px lightgrey, 1525px 338px lightgrey, 790px 1521px lightgrey,
    741px 1099px lightgrey, 288px 1489px lightgrey, 700px 1060px lightgrey,
    390px 1071px lightgrey, 411px 1036px lightgrey, 1853px 1072px lightgrey,
    1446px 1085px lightgrey, 1164px 874px lightgrey, 924px 925px lightgrey,
    291px 271px lightgrey, 1257px 1964px lightgrey, 1580px 1352px lightgrey,
    1507px 1216px lightgrey, 211px 956px lightgrey, 985px 1195px lightgrey,
    975px 1640px lightgrey, 518px 101px lightgrey, 663px 1395px lightgrey,
    914px 532px lightgrey, 145px 1320px lightgrey, 69px 1397px lightgrey,
    982px 523px lightgrey, 257px 725px lightgrey, 1599px 831px lightgrey,
    1636px 1513px lightgrey, 1250px 1158px lightgrey, 1132px 604px lightgrey,
    183px 102px lightgrey, 1057px 318px lightgrey, 1247px 1835px lightgrey,
    1983px 1110px lightgrey, 1077px 1455px lightgrey, 921px 1770px lightgrey,
    806px 1350px lightgrey, 1938px 1992px lightgrey, 855px 1260px lightgrey,
    902px 1345px lightgrey, 658px 1908px lightgrey, 1845px 679px lightgrey,
    712px 1482px lightgrey, 595px 950px lightgrey, 1784px 1992px lightgrey,
    1847px 1785px lightgrey, 691px 1004px lightgrey, 175px 1179px lightgrey,
    1666px 1911px lightgrey, 41px 61px lightgrey, 971px 1080px lightgrey,
    1830px 1450px lightgrey, 1351px 1518px lightgrey, 1257px 99px lightgrey,
    1395px 1498px lightgrey, 1117px 252px lightgrey, 1779px 597px lightgrey,
    1346px 729px lightgrey, 1108px 1144px lightgrey, 402px 691px lightgrey,
    72px 496px lightgrey, 1673px 1604px lightgrey, 1497px 974px lightgrey,
    1865px 1664px lightgrey, 88px 806px lightgrey, 918px 77px lightgrey,
    244px 1118px lightgrey, 256px 1820px lightgrey, 1851px 1840px lightgrey,
    605px 1851px lightgrey, 634px 383px lightgrey, 865px 37px lightgrey,
    943px 1024px lightgrey, 1951px 177px lightgrey, 1097px 523px lightgrey,
    985px 1700px lightgrey, 1243px 122px lightgrey, 768px 1070px lightgrey,
    468px 194px lightgrey, 320px 1867px lightgrey, 1850px 185px lightgrey,
    380px 1616px lightgrey, 468px 1294px lightgrey, 1122px 1743px lightgrey,
    884px 299px lightgrey, 1300px 1917px lightgrey, 1860px 396px lightgrey,
    1270px 990px lightgrey, 529px 733px lightgrey, 1975px 1347px lightgrey,
    1885px 685px lightgrey, 226px 506px lightgrey, 651px 878px lightgrey,
    1323px 680px lightgrey, 1284px 680px lightgrey, 238px 1967px lightgrey,
    911px 174px lightgrey, 1111px 521px lightgrey, 1150px 85px lightgrey,
    794px 502px lightgrey, 484px 1856px lightgrey, 1809px 368px lightgrey,
    112px 953px lightgrey, 590px 1009px lightgrey, 1655px 311px lightgrey,
    100px 1026px lightgrey, 1803px 352px lightgrey, 865px 306px lightgrey,
    1077px 1019px lightgrey, 1335px 872px lightgrey, 1647px 1298px lightgrey,
    1233px 1387px lightgrey, 698px 1036px lightgrey, 659px 1860px lightgrey,
    388px 1412px lightgrey, 1212px 458px lightgrey, 755px 1468px lightgrey,
    696px 1654px lightgrey, 1144px 60px lightgrey;
}

#stars2 {
  width: 2px;
  height: 2px;
  background-color: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px lightgrey, 1775px 1663px lightgrey,
    332px 1364px lightgrey, 878px 340px lightgrey, 569px 1832px lightgrey,
    1422px 1684px lightgrey, 1946px 1907px lightgrey, 121px 979px lightgrey,
    1044px 1069px lightgrey, 463px 381px lightgrey, 423px 112px lightgrey,
    523px 1179px lightgrey, 779px 654px lightgrey, 1398px 694px lightgrey,
    1085px 1464px lightgrey, 1599px 1869px lightgrey, 801px 1882px lightgrey,
    779px 1231px lightgrey, 552px 932px lightgrey, 1057px 1196px lightgrey,
    282px 1280px lightgrey, 496px 1986px lightgrey, 1833px 1120px lightgrey,
    1802px 1293px lightgrey, 6px 1696px lightgrey, 412px 1902px lightgrey,
    605px 438px lightgrey, 24px 1212px lightgrey, 234px 1320px lightgrey,
    544px 344px lightgrey, 1107px 170px lightgrey, 1603px 196px lightgrey,
    905px 648px lightgrey, 68px 1458px lightgrey, 649px 1969px lightgrey,
    744px 675px lightgrey, 1127px 478px lightgrey, 714px 1814px lightgrey,
    1486px 526px lightgrey, 270px 1636px lightgrey, 1931px 149px lightgrey,
    1807px 378px lightgrey, 8px 390px lightgrey, 1415px 699px lightgrey,
    1473px 1211px lightgrey, 1590px 141px lightgrey, 270px 1705px lightgrey,
    69px 1423px lightgrey, 1108px 1053px lightgrey, 1946px 128px lightgrey,
    371px 371px lightgrey, 1490px 220px lightgrey, 357px 1885px lightgrey,
    363px 363px lightgrey, 1896px 1256px lightgrey, 1979px 1050px lightgrey,
    947px 1342px lightgrey, 1754px 242px lightgrey, 514px 974px lightgrey,
    65px 1477px lightgrey, 1840px 547px lightgrey, 950px 695px lightgrey,
    459px 1150px lightgrey, 1124px 1502px lightgrey, 481px 940px lightgrey,
    680px 839px lightgrey, 797px 1169px lightgrey, 1977px 1491px lightgrey,
    734px 1724px lightgrey, 210px 298px lightgrey, 816px 628px lightgrey,
    686px 770px lightgrey, 1721px 267px lightgrey, 1663px 511px lightgrey,
    1481px 1141px lightgrey, 582px 248px lightgrey, 1308px 953px lightgrey,
    628px 657px lightgrey, 897px 1535px lightgrey, 270px 931px lightgrey,
    791px 467px lightgrey, 1336px 1732px lightgrey, 1013px 1653px lightgrey,
    1911px 956px lightgrey, 587px 816px lightgrey, 83px 456px lightgrey,
    930px 1478px lightgrey, 1587px 1694px lightgrey, 614px 1200px lightgrey,
    302px 1782px lightgrey, 1711px 1432px lightgrey, 443px 904px lightgrey,
    1666px 714px lightgrey, 1588px 1167px lightgrey, 273px 1075px lightgrey,
    1679px 461px lightgrey, 721px 664px lightgrey, 1202px 10px lightgrey,
    166px 1126px lightgrey, 331px 1628px lightgrey, 430px 1565px lightgrey,
    1585px 509px lightgrey, 640px 38px lightgrey, 822px 837px lightgrey,
    1760px 1664px lightgrey, 1122px 1458px lightgrey, 398px 131px lightgrey,
    689px 285px lightgrey, 460px 652px lightgrey, 1627px 365px lightgrey,
    348px 1648px lightgrey, 819px 1946px lightgrey, 981px 1917px lightgrey,
    323px 76px lightgrey, 979px 684px lightgrey, 887px 536px lightgrey,
    1348px 1596px lightgrey, 1055px 666px lightgrey, 1402px 1797px lightgrey,
    1300px 1055px lightgrey, 937px 238px lightgrey, 1474px 1815px lightgrey,
    1144px 1710px lightgrey, 1629px 1087px lightgrey, 911px 919px lightgrey,
    771px 819px lightgrey, 403px 720px lightgrey, 163px 736px lightgrey,
    1062px 238px lightgrey, 1774px 818px lightgrey, 1874px 1178px lightgrey,
    1177px 699px lightgrey, 1244px 1244px lightgrey, 1371px 58px lightgrey,
    564px 1515px lightgrey, 1824px 487px lightgrey, 929px 702px lightgrey,
    394px 1348px lightgrey, 1161px 641px lightgrey, 219px 1841px lightgrey,
    358px 941px lightgrey, 140px 1759px lightgrey, 1019px 1345px lightgrey,
    274px 436px lightgrey, 1433px 1605px lightgrey, 1798px 1426px lightgrey,
    294px 1848px lightgrey, 1681px 1877px lightgrey, 1344px 1824px lightgrey,
    1439px 1632px lightgrey, 161px 1012px lightgrey, 1308px 588px lightgrey,
    1789px 582px lightgrey, 721px 1910px lightgrey, 318px 218px lightgrey,
    607px 319px lightgrey, 495px 535px lightgrey, 1552px 1575px lightgrey,
    1562px 67px lightgrey, 403px 926px lightgrey, 1096px 1800px lightgrey,
    1814px 1709px lightgrey, 1882px 1831px lightgrey, 533px 46px lightgrey,
    823px 969px lightgrey, 530px 165px lightgrey, 1030px 352px lightgrey,
    1681px 313px lightgrey, 338px 115px lightgrey, 1607px 211px lightgrey,
    1718px 1184px lightgrey, 1589px 659px lightgrey, 278px 355px lightgrey,
    464px 1464px lightgrey, 1165px 277px lightgrey, 950px 694px lightgrey,
    1746px 293px lightgrey, 793px 911px lightgrey, 528px 773px lightgrey,
    1883px 1694px lightgrey, 748px 182px lightgrey, 1924px 1531px lightgrey,
    100px 636px lightgrey, 1473px 1445px lightgrey, 1264px 1244px lightgrey,
    850px 1377px lightgrey, 987px 1976px lightgrey, 933px 1761px lightgrey,
    922px 1270px lightgrey, 500px 396px lightgrey, 1324px 8px lightgrey,
    1967px 1814px lightgrey, 1072px 1401px lightgrey, 961px 37px lightgrey,
    156px 81px lightgrey, 1915px 502px lightgrey, 1076px 1846px lightgrey,
    152px 1669px lightgrey, 986px 1529px lightgrey, 1667px 1137px lightgrey;
}
#stars2:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px lightgrey, 1775px 1663px lightgrey,
    332px 1364px lightgrey, 878px 340px lightgrey, 569px 1832px lightgrey,
    1422px 1684px lightgrey, 1946px 1907px lightgrey, 121px 979px lightgrey,
    1044px 1069px lightgrey, 463px 381px lightgrey, 423px 112px lightgrey,
    523px 1179px lightgrey, 779px 654px lightgrey, 1398px 694px lightgrey,
    1085px 1464px lightgrey, 1599px 1869px lightgrey, 801px 1882px lightgrey,
    779px 1231px lightgrey, 552px 932px lightgrey, 1057px 1196px lightgrey,
    282px 1280px lightgrey, 496px 1986px lightgrey, 1833px 1120px lightgrey,
    1802px 1293px lightgrey, 6px 1696px lightgrey, 412px 1902px lightgrey,
    605px 438px lightgrey, 24px 1212px lightgrey, 234px 1320px lightgrey,
    544px 344px lightgrey, 1107px 170px lightgrey, 1603px 196px lightgrey,
    905px 648px lightgrey, 68px 1458px lightgrey, 649px 1969px lightgrey,
    744px 675px lightgrey, 1127px 478px lightgrey, 714px 1814px lightgrey,
    1486px 526px lightgrey, 270px 1636px lightgrey, 1931px 149px lightgrey,
    1807px 378px lightgrey, 8px 390px lightgrey, 1415px 699px lightgrey,
    1473px 1211px lightgrey, 1590px 141px lightgrey, 270px 1705px lightgrey,
    69px 1423px lightgrey, 1108px 1053px lightgrey, 1946px 128px lightgrey,
    371px 371px lightgrey, 1490px 220px lightgrey, 357px 1885px lightgrey,
    363px 363px lightgrey, 1896px 1256px lightgrey, 1979px 1050px lightgrey,
    947px 1342px lightgrey, 1754px 242px lightgrey, 514px 974px lightgrey,
    65px 1477px lightgrey, 1840px 547px lightgrey, 950px 695px lightgrey,
    459px 1150px lightgrey, 1124px 1502px lightgrey, 481px 940px lightgrey,
    680px 839px lightgrey, 797px 1169px lightgrey, 1977px 1491px lightgrey,
    734px 1724px lightgrey, 210px 298px lightgrey, 816px 628px lightgrey,
    686px 770px lightgrey, 1721px 267px lightgrey, 1663px 511px lightgrey,
    1481px 1141px lightgrey, 582px 248px lightgrey, 1308px 953px lightgrey,
    628px 657px lightgrey, 897px 1535px lightgrey, 270px 931px lightgrey,
    791px 467px lightgrey, 1336px 1732px lightgrey, 1013px 1653px lightgrey,
    1911px 956px lightgrey, 587px 816px lightgrey, 83px 456px lightgrey,
    930px 1478px lightgrey, 1587px 1694px lightgrey, 614px 1200px lightgrey,
    302px 1782px lightgrey, 1711px 1432px lightgrey, 443px 904px lightgrey,
    1666px 714px lightgrey, 1588px 1167px lightgrey, 273px 1075px lightgrey,
    1679px 461px lightgrey, 721px 664px lightgrey, 1202px 10px lightgrey,
    166px 1126px lightgrey, 331px 1628px lightgrey, 430px 1565px lightgrey,
    1585px 509px lightgrey, 640px 38px lightgrey, 822px 837px lightgrey,
    1760px 1664px lightgrey, 1122px 1458px lightgrey, 398px 131px lightgrey,
    689px 285px lightgrey, 460px 652px lightgrey, 1627px 365px lightgrey,
    348px 1648px lightgrey, 819px 1946px lightgrey, 981px 1917px lightgrey,
    323px 76px lightgrey, 979px 684px lightgrey, 887px 536px lightgrey,
    1348px 1596px lightgrey, 1055px 666px lightgrey, 1402px 1797px lightgrey,
    1300px 1055px lightgrey, 937px 238px lightgrey, 1474px 1815px lightgrey,
    1144px 1710px lightgrey, 1629px 1087px lightgrey, 911px 919px lightgrey,
    771px 819px lightgrey, 403px 720px lightgrey, 163px 736px lightgrey,
    1062px 238px lightgrey, 1774px 818px lightgrey, 1874px 1178px lightgrey,
    1177px 699px lightgrey, 1244px 1244px lightgrey, 1371px 58px lightgrey,
    564px 1515px lightgrey, 1824px 487px lightgrey, 929px 702px lightgrey,
    394px 1348px lightgrey, 1161px 641px lightgrey, 219px 1841px lightgrey,
    358px 941px lightgrey, 140px 1759px lightgrey, 1019px 1345px lightgrey,
    274px 436px lightgrey, 1433px 1605px lightgrey, 1798px 1426px lightgrey,
    294px 1848px lightgrey, 1681px 1877px lightgrey, 1344px 1824px lightgrey,
    1439px 1632px lightgrey, 161px 1012px lightgrey, 1308px 588px lightgrey,
    1789px 582px lightgrey, 721px 1910px lightgrey, 318px 218px lightgrey,
    607px 319px lightgrey, 495px 535px lightgrey, 1552px 1575px lightgrey,
    1562px 67px lightgrey, 403px 926px lightgrey, 1096px 1800px lightgrey,
    1814px 1709px lightgrey, 1882px 1831px lightgrey, 533px 46px lightgrey,
    823px 969px lightgrey, 530px 165px lightgrey, 1030px 352px lightgrey,
    1681px 313px lightgrey, 338px 115px lightgrey, 1607px 211px lightgrey,
    1718px 1184px lightgrey, 1589px 659px lightgrey, 278px 355px lightgrey,
    464px 1464px lightgrey, 1165px 277px lightgrey, 950px 694px lightgrey,
    1746px 293px lightgrey, 793px 911px lightgrey, 528px 773px lightgrey,
    1883px 1694px lightgrey, 748px 182px lightgrey, 1924px 1531px lightgrey,
    100px 636px lightgrey, 1473px 1445px lightgrey, 1264px 1244px lightgrey,
    850px 1377px lightgrey, 987px 1976px lightgrey, 933px 1761px lightgrey,
    922px 1270px lightgrey, 500px 396px lightgrey, 1324px 8px lightgrey,
    1967px 1814px lightgrey, 1072px 1401px lightgrey, 961px 37px lightgrey,
    156px 81px lightgrey, 1915px 502px lightgrey, 1076px 1846px lightgrey,
    152px 1669px lightgrey, 986px 1529px lightgrey, 1667px 1137px lightgrey;
}

#stars3 {
  width: 3px;
  height: 3px;
  background-color: transparent;
  animation: animStar 150s linear infinite;
  box-shadow: 387px 1878px lightgrey, 760px 1564px lightgrey,
    1487px 999px lightgrey, 948px 1828px lightgrey, 1977px 1001px lightgrey,
    1284px 1963px lightgrey, 656px 284px lightgrey, 1268px 1635px lightgrey,
    1820px 598px lightgrey, 642px 1900px lightgrey, 296px 57px lightgrey,
    921px 1620px lightgrey, 476px 1858px lightgrey, 658px 613px lightgrey,
    1171px 1363px lightgrey, 1419px 283px lightgrey, 1037px 731px lightgrey,
    503px 663px lightgrey, 1562px 463px lightgrey, 383px 1197px lightgrey,
    1171px 1233px lightgrey, 876px 1768px lightgrey, 856px 1615px lightgrey,
    1375px 1924px lightgrey, 1725px 918px lightgrey, 952px 119px lightgrey,
    768px 1212px lightgrey, 992px 1462px lightgrey, 1929px 717px lightgrey,
    1947px 755px lightgrey, 1818px 1123px lightgrey, 1896px 1672px lightgrey,
    460px 198px lightgrey, 256px 271px lightgrey, 752px 544px lightgrey,
    1222px 1859px lightgrey, 1851px 443px lightgrey, 313px 1858px lightgrey,
    709px 446px lightgrey, 1546px 697px lightgrey, 674px 1155px lightgrey,
    1112px 130px lightgrey, 355px 1790px lightgrey, 1496px 974px lightgrey,
    1696px 480px lightgrey, 1316px 1265px lightgrey, 1645px 1063px lightgrey,
    1182px 237px lightgrey, 427px 1582px lightgrey, 859px 253px lightgrey,
    458px 939px lightgrey, 1517px 1644px lightgrey, 1943px 60px lightgrey,
    212px 1650px lightgrey, 966px 1786px lightgrey, 473px 712px lightgrey,
    130px 76px lightgrey, 1417px 1186px lightgrey, 909px 1580px lightgrey,
    1913px 762px lightgrey, 204px 1143px lightgrey, 1998px 1057px lightgrey,
    1468px 1301px lightgrey, 144px 1676px lightgrey, 21px 1601px lightgrey,
    382px 1362px lightgrey, 912px 753px lightgrey, 1488px 1405px lightgrey,
    802px 156px lightgrey, 174px 550px lightgrey, 338px 1366px lightgrey,
    1197px 774px lightgrey, 602px 486px lightgrey, 682px 1877px lightgrey,
    348px 1503px lightgrey, 407px 1139px lightgrey, 950px 1400px lightgrey,
    922px 1139px lightgrey, 1697px 293px lightgrey, 1238px 1281px lightgrey,
    1038px 1197px lightgrey, 376px 1889px lightgrey, 1255px 1680px lightgrey,
    1008px 1316px lightgrey, 1538px 1447px lightgrey, 1186px 874px lightgrey,
    1967px 640px lightgrey, 1341px 19px lightgrey, 29px 1732px lightgrey,
    16px 1650px lightgrey, 1021px 1075px lightgrey, 723px 424px lightgrey,
    1175px 41px lightgrey, 494px 1957px lightgrey, 1296px 431px lightgrey,
    175px 1507px lightgrey, 831px 121px lightgrey, 498px 1947px lightgrey,
    617px 880px lightgrey, 240px 403px lightgrey;
}
#stars3:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px lightgrey, 760px 1564px lightgrey,
    1487px 999px lightgrey, 948px 1828px lightgrey, 1977px 1001px lightgrey,
    1284px 1963px lightgrey, 656px 284px lightgrey, 1268px 1635px lightgrey,
    1820px 598px lightgrey, 642px 1900px lightgrey, 296px 57px lightgrey,
    921px 1620px lightgrey, 476px 1858px lightgrey, 658px 613px lightgrey,
    1171px 1363px lightgrey, 1419px 283px lightgrey, 1037px 731px lightgrey,
    503px 663px lightgrey, 1562px 463px lightgrey, 383px 1197px lightgrey,
    1171px 1233px lightgrey, 876px 1768px lightgrey, 856px 1615px lightgrey,
    1375px 1924px lightgrey, 1725px 918px lightgrey, 952px 119px lightgrey,
    768px 1212px lightgrey, 992px 1462px lightgrey, 1929px 717px lightgrey,
    1947px 755px lightgrey, 1818px 1123px lightgrey, 1896px 1672px lightgrey,
    460px 198px lightgrey, 256px 271px lightgrey, 752px 544px lightgrey,
    1222px 1859px lightgrey, 1851px 443px lightgrey, 313px 1858px lightgrey,
    709px 446px lightgrey, 1546px 697px lightgrey, 674px 1155px lightgrey,
    1112px 130px lightgrey, 355px 1790px lightgrey, 1496px 974px lightgrey,
    1696px 480px lightgrey, 1316px 1265px lightgrey, 1645px 1063px lightgrey,
    1182px 237px lightgrey, 427px 1582px lightgrey, 859px 253px lightgrey,
    458px 939px lightgrey, 1517px 1644px lightgrey, 1943px 60px lightgrey,
    212px 1650px lightgrey, 966px 1786px lightgrey, 473px 712px lightgrey,
    130px 76px lightgrey, 1417px 1186px lightgrey, 909px 1580px lightgrey,
    1913px 762px lightgrey, 204px 1143px lightgrey, 1998px 1057px lightgrey,
    1468px 1301px lightgrey, 144px 1676px lightgrey, 21px 1601px lightgrey,
    382px 1362px lightgrey, 912px 753px lightgrey, 1488px 1405px lightgrey,
    802px 156px lightgrey, 174px 550px lightgrey, 338px 1366px lightgrey,
    1197px 774px lightgrey, 602px 486px lightgrey, 682px 1877px lightgrey,
    348px 1503px lightgrey, 407px 1139px lightgrey, 950px 1400px lightgrey,
    922px 1139px lightgrey, 1697px 293px lightgrey, 1238px 1281px lightgrey,
    1038px 1197px lightgrey, 376px 1889px lightgrey, 1255px 1680px lightgrey,
    1008px 1316px lightgrey, 1538px 1447px lightgrey, 1186px 874px lightgrey,
    1967px 640px lightgrey, 1341px 19px lightgrey, 29px 1732px lightgrey,
    16px 1650px lightgrey, 1021px 1075px lightgrey, 723px 424px lightgrey,
    1175px 41px lightgrey, 494px 1957px lightgrey, 1296px 431px lightgrey,
    175px 1507px lightgrey, 831px 121px lightgrey, 498px 1947px lightgrey,
    617px 880px lightgrey, 240px 403px lightgrey;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
