.pass {
  text-align: center;
  padding: 10px;
  color: aliceblue;
  font-family: "montserrat", sans-serif;
  font-weight: 30;
  font-size: 20px;
}
button {
  display: inline;
  background: none;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  color: #d8dbe6;
  text-transform: uppercase;
  min-width: 200px;
  margin: 10px;
  left: 720px;
}

h1 {
  text-align: center;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  font-size: 50px;
  background: -webkit-linear-gradient(#fff, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html {

    background: #090a0f 100%;
  }
