@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

.signIn {
  font-family: "Space Grotesk", sans-serif;
  border: #fff 3px solid;
  background-color: rgba(78, 98, 165, 0.13);
  width: max-content;
  padding: 1% 5%;
  align-items: center;
  border-radius: 6px;
  color: white;
  margin: auto;
}
.signIn-div {
  align-items: center;
  align-content: center;
}
.pass p {
  margin-bottom: 3px;
}
.pass:nth-child(3) {
  padding-bottom: 30px;
}
.hiddenError {
  width: max-content;
  font-family: "Space Grotesk", sans-serif;
  color: rgb(145, 36, 36);
}
.acc {
  color: lightgray;
  padding: 0;
  margin: 0;
  width: max-content;
  align-self: center;
  font-family: "Space Grotesk", sans-serif;
}
.typewriter {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.typewriter h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(78, 98, 165); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(78, 98, 165);
  }
}
