@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

.pass {
  text-align: center;
  padding: 10px;
  color: aliceblue;
  font-family: "montserrat", sans-serif;
  font-weight: 30;
  font-size: 20px;
}

.typewriter h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(78, 98, 165); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(78, 98, 165);
  }
}
