.rocket-section {
  align-items: center;
  color: aliceblue;
}

.rocket-card {
  margin: 10%;
  text-align: center;
}
.rocket-card img {
  width: 70%;
}
.info {
  text-align: center;
  color: aliceblue;
}
