.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  background-color: rgb(11, 21, 41, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 80%;
  max-width: 500px;
  background-color: rgba(14, 14, 49, 0.76);
  padding: 10px;
  border-radius: 5px;
}
