.rocket-section1 {
   margin: auto;
  }
  
.launch-card
{
    align-items: center;
}
  .info
  {
    text-align: center;
    color: aliceblue;
  }
  .user
  {
    text-align: center;
    color: aliceblue;
  }
 